@model IEnumerable<WebApplication.Models.T_Roles>

@{
    Layout = null;
    int count = 1;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نقش های کاربری</title>
    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body class="rtl">

    <div class="dashboard">

        @Html.Partial("_PDashboardRight")

        @Html.Partial("_PDashboardTop")

        <div>
            <div>
                <table class="table">
                    <tr>
                        <th>ردیف</th>
                        <th>
                            @Html.DisplayNameFor(model => model.RoleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RoleTitle)
                        </th>
                        <th class="new-category" style="border:none;">
                            <span>عملیات</span>
                            <span class="btn btn-success">@Html.ActionLink("ثبت نقش کاربری جدید", "Create", null, new { @class = "btn-color" })</span>
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleTitle)
                            </td>
                            <td>
                                @Html.ActionLink("ویرایش", "Edit", new { id = item.RoleId }, new { @class = "btn btn-danger" }) |
                                @Html.ActionLink("حذف", "Delete", new { id = item.RoleId }, new { @class = "btn btn-warning" })
                            </td>
                        </tr>
                        count++;
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>
