@model WebApplication.Models.T_Categories

@{
    Layout = null;
    string name = Model.CategoryName;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حذف @name </title>
    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body class="rtl">
    <div class="dashboard">
        @Html.Partial("_PDashboardRight")
        @Html.Partial("_PDashboardTop")
        <div class="delete-category">
            <div>
                <h4>حذف @name</h4>
            </div>
            @using (Html.BeginForm("Delete", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-row">
                    <div class="col">
                        <div class="form-label">
                            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control disable-input" } })
                            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        @Html.ActionLink("بازگشت به لیست", "Index", "Categories", new { @class = "btn btn-info" })
                        <input type="submit" value="حذف" class="btn btn-danger" />
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
