@model IEnumerable<WebApplication.Models.T_Categories>

@{
    Layout = null;
    int count = 1;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>دسته بندی ها</title>
    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body class="rtl">
    <div class="dashboard">
        @Html.Partial("_PDashboardRight")
        @Html.Partial("_PDashboardTop")
        <div class="index index__rol-cat">
            <div>
                <h1>لیست دسته بندی ها </h1>
                <div>
                    @Html.ActionLink("ثبت دسته بندی جدید", "Create", null, new { @class = "btn-color btn btn-success" })
                </div>
            </div>
            <div class="margin-r-20">
                <div class="table-col__div-last">
                    ردیف
                </div>
                <div class="table-col__div-last">
                    @Html.DisplayNameFor(model => model.CategoryName)
                </div>
                <div class="table-col__div-last">
                    عملیات
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="table-row margin-r-20">
                    <div class="table-col__div-last">
                        @count
                    </div>
                    <div class="table-col__div-last">
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </div>
                    <div class="table-col__div-last">
                        @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }, new { @class = "btn btn-danger" }) |
                        @Html.ActionLink("حذف", "Delete", new { id = item.Id }, new { @class = "btn btn-warning" })
                    </div>
                </div>
                count++;
            }
        </div>
    </div>
</body>
</html>
