@model WebApplication.Models.T_Users

@{
    Layout = null;
    string name = Model.Name + " " + Model.Family;
    string userImageName = "user.jpg";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جزئیات @name </title>
    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body class="rtl">
    <div class="dashboard">
        @Html.Partial("_PDashboardRight")
        @Html.Partial("_PDashboardTop")
        <div class="details">
            @using (Html.BeginForm("Delete", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div>
                    @if (Model.ImageName != userImageName)
                    {
                        userImageName = Model.ImageName;
                        <img src="~/Image/Profile/ProfileUser/@userImageName" />
                    }
                    else
                    {
                        <img src="~/Image/Profile/ProfileUser/@userImageName" />
                    }
                </div>
                <div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-label">
                                @Html.DisplayNameFor(model => model.Name)
                            </div>
                            <div class="form-control">
                                @Html.DisplayFor(model => model.Name)
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-label">
                                @Html.DisplayNameFor(model => model.Family)
                            </div>
                            <div class="form-control">
                                @Html.DisplayFor(model => model.Family)
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-label">
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </div>
                            <div class="form-control">
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-label">
                                @Html.DisplayNameFor(model => model.Email)
                            </div>
                            <div class="form-control">
                                @Html.DisplayFor(model => model.Email)
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-label">
                                @Html.DisplayNameFor(model => model.NationalCode)
                            </div>
                            <div class="form-control">
                                @Html.DisplayFor(model => model.NationalCode)
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-label">
                                @Html.DisplayNameFor(model => model.RegisterDate)
                            </div>
                            <div class="form-control">
                                @Html.DisplayFor(model => model.RegisterDate)
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-label">
                                @Html.DisplayNameFor(model => model.IsActive)
                            </div>
                            <div class="form-control">
                                @if (Model.IsActive == true)
                                {
                                    <span style="color:green;">فعال</span>
                                }
                                else
                                {
                                    <span style="color:red;">غیر فعال</span>
                                }
                            </div>
                        </div>
                        <div class="col" style=" margin-top: 25px;">
                            <input type="submit" value="حذف @name" class="btn btn-danger" />
                            @Html.ActionLink("بازگشت به لیست", "Index", null, new { @class = "btn btn-info" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>



</body>
</html>
