@model IEnumerable<WebApplication.Models.T_Admins>

@{
    Layout = null;
    int count = 1;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لیست مدیران</title>
    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body class="rtl">
    <div class="dashboard">
        @Html.Partial("_PDashboardRight")
        @Html.Partial("_PDashboardTop")
        <div class="index">
            <div>
                <h1>لیست مدیران</h1>
                <div>
                    @Html.ActionLink("ثبت مدیر جدید", "Create", null, new { @class = "btn-color btn btn-success" })
                </div>
            </div>
            <div class="margin-r-20">
                <div class="table-col">
                    ردیف
                </div>
                <div class="table-col__div-long">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="table-col__div-long">
                    @Html.DisplayNameFor(model => model.Family)
                </div>
                <div class="table-col__div-long">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </div>
                <div class="table-col__div-long">
                    @Html.DisplayNameFor(model => model.Email)
                </div>
                <div class="table-col">
                    @Html.DisplayNameFor(model => model.IsActive)
                </div>
                <div class="table-col__div-last">
                    عملیات
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="table-row margin-r-20">
                    <div class="table-col">
                        @count
                    </div>
                    <div class="table-col__div-long">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div class="table-col__div-long">
                        @Html.DisplayFor(modelItem => item.Family)
                    </div>
                    <div class="table-col__div-long">
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </div>
                    <div class="table-col__div-long">
                        @Html.DisplayFor(modelItem => item.Email)
                    </div>
                    <div class="table-col">
                        @if (item.IsActive == true)
                        {
                            <span style="color:green;">فعال</span>
                        }
                        else
                        {
                            <span style="color:red;">غیر فعال</span>
                        }
                    </div>
                    <div class="table-col__div-last">
                        @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("جزئیات", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
                        @Html.ActionLink("حذف", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </div>
                </div>
                count++;
            }
        </div>
    </div>
</body>
</html>
