@model WebApplication.Models.T_Products

@{
    Layout = null;
    string name = Model.ModelName;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ویرایش @name </title>
    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body class="rtl">
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <div class="dashboard">
        @Html.Partial("_PDashboardRight")
        @Html.Partial("_PDashboardTop")
        <div class="details ">
            @using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.RegisterDate)
                @Html.HiddenFor(model => model.SalesNumber)
                @Html.HiddenFor(model => model.RegisterAdminId)
                @Html.HiddenFor(model => model.CategoryId)
                <div>
                    <img src="~/Image/Product/ProductProfile/@Model.ImageName" />
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-label">
                            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-label">
                            @Html.LabelFor(model => model.BrandName, htmlAttributes: new { @class = "control-label " })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.BrandName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-label">
                            @Html.LabelFor(model => model.ModelName, htmlAttributes: new { @class = "control-label " })

                        </div>
                        <div>
                            @Html.EditorFor(model => model.ModelName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ModelName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-label">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })

                        </div>
                        <div>
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-label">
                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-label">
                            @Html.LabelFor(model => model.Inventory, htmlAttributes: new { @class = "control-label " })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Inventory, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Inventory, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-label">
                            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <select id="IsActive" name="IsActive" class="form-control">
                            @if (Model.IsActive == true)
                            {
                                <option value="true" selected>فعال</option>
                                <option value="false">غیر فعال</option>
                            }
                            else
                            {
                                <option value="true">فعال</option>
                                <option value="false" selected>غیر فعال</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })

                    </div>
                    <div class="col">
                        <div class="form-label">
                            @Html.LabelFor(model => model.InventoryStatus, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            <select id="InventoryStatus" name="InventoryStatus" class="form-control">
                                @if (Model.InventoryStatus == true)
                                {
                                    <option value="true" selected>موجود</option>
                                    <option value="false"> ناموجود</option>
                                }
                                else
                                {
                                    <option value="true">موجود</option>
                                    <option value="false" selected> ناموجود</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.InventoryStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-label">
                            <label class="control-label"> ویرایش تصویر</label>
                        </div>
                        <div>
                            <input type="file" id="newImageProduct" name="newImageProduct" class="form-control" />
                            @Html.ValidationMessageFor(model => model.ImageName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-row ">
                            <div class="col" style="margin-top:30px;">
                                <input type="submit" value="ذخیره" class="btn btn-success" />
                                @Html.ActionLink("بازگشت به لیست", "Index", null, new { @class = "btn btn-info" })
                            </div>
                        </div>
                    </div>

                </div>

            }

        </div>

    </div>
</body>
</html>
