@model IEnumerable<WebApplication.Models.T_Products>

@{
    Layout = null;
    int count = 1;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لیست محصولات</title>
    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body class="rtl">

    <div class="dashboard">

        @Html.Partial("_PDashboardRight")

        @Html.Partial("_PDashboardTop")


        <div>
            <div>

                <table class="table">
                    <tr>
                        <th>ردیف</th>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BrandName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModelName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Inventory)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InventoryStatus)
                        </th>
                        <th class="new-category" style="border:none;">
                            <span>عملیات</span>
                            <span class="btn btn-success">@Html.ActionLink("ثبت محصول جدید", "Create", null, new { @class = "btn-color" })</span>
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BrandName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModelName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Inventory)
                            </td>
                            <td>




                                @if (item.IsActive == true)
                                {
                                    <span style="color:green;">فعال</span>
                                }
                                else
                                {
                                    <span style="color:red;">غیر فعال</span>
                                }




                               
                            </td>
                            <td>




                                @if (item.InventoryStatus == true)
                                {
                                    <span style="color:green;">موجود</span>
                                }
                                else
                                {
                                    <span style="color:red;">ناموجود</span>
                                }

                            </td>
                            <td>
                                @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }, new { @class = "btn btn-danger" }) |
                                @Html.ActionLink("جزئیات", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
                                @Html.ActionLink("حذف", "Delete", new { id = item.Id }, new { @class = "btn btn-warning" })
                            </td>
                        </tr>
                        count++;
                    }

                </table>
            </div>
        </div>

    </div>









    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

</body>
</html>
